:host {
  overflow: hidden;
  -webkit-flex: 1 0 320px;
      -ms-flex: 1 0 320px;
          flex: 1 0 320px;
  max-width: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }

.event-viewer-header {
  -webkit-flex: 0 0 41px;
      -ms-flex: 0 0 41px;
          flex: 0 0 41px;
  width: 100%; }
