body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  overflow: hidden; }

.button {
  font-family: inherit;
  font-weight: inherit;
  background: none;
  border: none; }

.body-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.parent-site-overlay {
  -webkit-flex: 1 1 3em;
      -ms-flex: 1 1 3em;
          flex: 1 1 3em;
  width: 100%;
  z-index: 11; }

.parent-site-header {
  -webkit-flex-basis: 90px;
      -ms-flex-preferred-size: 90px;
          flex-basis: 90px;
  background: #F6F6F0;
  background: linear-gradient(7deg, #ffe2d5 55%, #ffcdb6);
  border-bottom: 1px solid #a6a6a6;
  box-shadow: 0px 0px 10px 0px #a6a6a6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em; }

.parent-site-footer {
  -webkit-flex-basis: 2em;
      -ms-flex-preferred-size: 2em;
          flex-basis: 2em;
  background: #F6F6F0;
  background: linear-gradient(7deg, #ffcdb6 55%, #ffe2d5);
  border-top: 1px solid #a6a6a6;
  box-shadow: 0px 0px 10px 0px #a6a6a6; }

.app {
  position: relative;
  overflow: hidden;
  -webkit-flex: 1 1 90%;
      -ms-flex: 1 1 90%;
          flex: 1 1 90%;
  width: 100%;
  height: 90%; }

.overlay-info {
  margin-left: 2em; }

#return-parent-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100%;
  font-weight: 400;
  position: relative;
  border: 1px solid #bfbfbf;
  border-radius: 12px;
  padding: 5px 10px;
  transition: background-color 200ms ease, -webkit-transform 100ms ease;
  transition: background-color 200ms ease, transform 100ms ease;
  transition: background-color 200ms ease, transform 100ms ease, -webkit-transform 100ms ease; }

#return-parent-button:hover {
  background-color: rgba(0, 0, 0, 0.1); }

#return-parent-button:active {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97); }

.back-arrow-icon {
  position: relative;
  height: 30px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #bfbfbf;
  border-radius: 100%; }

.toggle-button {
  position: relative;
  box-sizing: initial;
  background-color: rgba(0, 0, 0, 0.05);
  width: 50px;
  height: 18px;
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  transition: background-color 200ms ease; }

.toggle-button.off::after {
  content: 'off';
  line-height: 18px;
  vertical-align: center;
  float: right; }

.toggle-button.on::after {
  content: 'on';
  line-height: 18px;
  vertical-align: center;
  float: left; }

.toggle-button-toggle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #bfbfbf;
  border-radius: 100%;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease; }

.toggle-button.on {
  background-color: transparent; }

.toggle-button.on > .toggle-button-toggle {
  -webkit-transform: translateX(42px);
      -ms-transform: translateX(42px);
          transform: translateX(42px); }

#commentary-toggle-button {
  display: block;
  margin: 0 auto; }

.commentary-button-label {
  font-size: 90%;
  text-align: center;
  margin-bottom: 4px; }

.overlay-message {
  font-size: 100%;
  background-color: #bfbfbf;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 1em;
  border: 1px solid #bfbfbf;
  border-radius: 12px; }

#overlay-commentary-container {
  position: static;
  overflow: visible;
  height: 0px;
  width: 0px; }

.commentary-bubble {
  background: #FFCAB1;
  background: rgba(240, 240, 240, 0.7);
  border: 2px solid #737373;
  border-radius: 15px;
  display: block;
  position: absolute;
  z-index: 21;
  overflow: hidden;
  width: 32px;
  height: 32px;
  transition: width 200ms ease;
  box-shadow: 5px 5px 10px 0px #777; }

.commentary-bubble:hover {
  width: 400px;
  height: auto;
  transition: width 200ms ease; }

.commentary-bubble::before {
  background: #FFCAB1;
  background: #ffdbcb;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  content: 'i';
  font-weight: 400;
  font-size: 95%;
  width: 30px;
  min-height: 30px;
  text-align: center;
  vertical-align: center;
  line-height: 30px;
  border-right: 2px solid #737373;
  border-bottom: 2px solid #737373;
  border-radius: 12px; }

.commentary-message {
  display: block;
  padding: 1em;
  margin: 10px;
  line-height: 115%;
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  background: #FFCAB1;
  background: rgba(255, 237, 228, 0.9); }

.commentary-link {
  text-decoration: none;
  display: block;
  font-weight: 300;
  font-size: 125%;
  color: #f7f7f7;
  text-align: center;
  padding: 0.75em;
  padding-left: 1em;
  margin: 1em 10px 1.5em;
  border-radius: 12px;
  background-color: #f89a7c;
  transition: background-color 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, background-color 200ms ease;
  transition: transform 200ms ease, background-color 200ms ease, -webkit-transform 200ms ease; }

.commentary-link::before {
  content: '>>';
  margin-right: 0.5em;
  line-height: 12px;
  vertical-align: center; }

.commentary-link:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  background-color: #f89273; }

.commentary-link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9); }
