@import '../../../styles/variables';


body{
	max-width: 100vw; // TODO: fix vh/vw measurements in app
	max-height: 100vh;

	font-family: $sans;
	font-weight: 300;

	overflow: hidden;
}

.button{
	font-family: inherit;
	font-weight: inherit;
	background: none;
	border: none;
}

.body-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.parent-site-overlay{
	flex: 1 1 3em;
	width: 100%;
	z-index: 11;

}

.parent-site-header{
	flex-basis: 90px;

	background: $col-bg;
	background: linear-gradient( 7deg, lighten($col-highlight,7%) 55% , lighten($col-highlight, 1%) );
	border-bottom: 1px solid $grey;

	box-shadow: 0px 0px 10px 0px $grey;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	margin-bottom: 1em;
}

.parent-site-footer{
	flex-basis: 2em;

	background: $col-bg;
	background: linear-gradient( 7deg, lighten($col-highlight, 1%) 55% , lighten($col-highlight,7%) );
	border-top: 1px solid $grey;

	box-shadow: 0px 0px 10px 0px $grey;

}

.app{
	position: relative;
	overflow: hidden;
	flex: 1 1 90%;
	width: 100%;
	height: 90%;
}



// Header styling
.overlay-info{
	margin-left: 2em;
}
#return-parent-button{
	display: flex;
	flex-direction: row;
	align-items: center;

	font-size: 100%;
	font-weight: 400;

	position: relative;
	border: 1px solid $col-border;
	border-radius: 12px;

	padding: 5px 10px;

	transition: background-color 200ms ease,
							transform 100ms ease;
}

#return-parent-button:hover{
	background-color: rgba( 0,0,0,0.1);
}

#return-parent-button:active{
	background-color: rgba( 0,0,0,0.2);
	transform: scale(0.97);
}

.back-arrow-icon{
	position: relative;
	height: 30px;
	transform: rotate(180deg);
	margin-right: 5px;

	padding: 5px;

	border: 1px solid $col-border;
	border-radius: 100%;
}


// toggle button styling
// --------------------------
.toggle-button{
	position: relative;
	box-sizing: initial;
	//background: $light-grey;
	background-color: rgba(0,0,0,0.05);
	width: 50px;
	height: 18px;
	border-radius: 12px;
	border: 1px solid $col-border;

	transition: background-color 200ms ease;
}

.toggle-button.off::after{
	content: 'off';
	line-height: 18px;
	vertical-align: center;
	float: right;
}
.toggle-button.on::after{
	content: 'on';
	line-height: 18px;
	vertical-align: center;
	float: left;
}

.toggle-button-toggle{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 18px;
	height: 18px;
	background-color: rgba(255,255,255,0.3);
	border: 1px solid $col-border;
	border-radius: 100%;

	transition: transform 200ms ease;
}

.toggle-button.on{
	background-color: rgba(0,0,0,0);
}
.toggle-button.on > .toggle-button-toggle {
	transform: translateX(42px);
}
// -------------------


.commentary-button-container{
}
#commentary-toggle-button{
	display: block;
	margin: 0 auto;
}
.commentary-button-label{
	font-size: 90%;
	text-align: center;
	margin-bottom: 4px;
}

.overlay-message{
	font-size: 100%;
	background-color: $light-grey;
	background-color: rgba(0,0,0,0.02);
	padding: 1em;
	border: 1px solid $col-border;
	border-radius: 12px;
}

// commentary
// ====================

#overlay-commentary-container{
	position: static;
	overflow: visible;
	height: 0px;
	width: 0px;
}

.commentary-bubble{

	background: $col-highlight;
	background: rgba(240,240,240, 0.7);

	border: 2px solid darken( $grey, 20% );
	border-radius: 15px;

	display: block;
	position: absolute;
	z-index: 21;
	overflow: hidden;
	width: 32px;
	height: 32px;

	transition: width 200ms ease;

	box-shadow: 5px 5px 10px 0px #777;
}


.commentary-bubble:hover{

	width: 400px;
	height: auto;

	transition: width 200ms ease;
}

.commentary-bubble::before{

	background: $col-highlight;
	background: lighten( rgba(255,202,177, 1), 5% );

	display: block;
	position: relative;
	top: 0;
	left: 0;
	content: 'i';
	font-weight: 400;
	font-size: 95%;
	width: 30px;
	min-height: 30px;
	text-align: center;
	vertical-align: center;
	line-height: 30px;

	border-right: 2px solid darken( $grey, 20% );
	border-bottom: 2px solid darken( $grey, 20% );

	border-radius: 12px;
}

.commentary-message{
	display: block;

	padding: 1em;
	margin: 10px;
	line-height: 115%;
	border-radius: 12px;

	border: 1px solid $col-border;

	background: $col-highlight;
	background: lighten( rgba(255,202,177, 0.9), 10% );

}

.commentary-link{
	text-decoration: none;
	display: block;

	font-weight: 300;
	font-size: 125%;
	color: $lightest-grey;

	text-align: center;

	padding: 0.75em;
	padding-left: 1em;

	margin: 1em 10px 1.5em;
	border-radius: 12px;

	background-color: $col-websites-accent-light;

	transition: transform 200ms ease,
							background-color 200ms ease;
}

.commentary-link::before{
	content: '>>';
	margin-right: 0.5em;
	line-height: 12px;
	vertical-align: center;

}
.commentary-link:hover{
	transform: scale( 1.01 );
	background-color: darken( $col-websites-accent-light, 2% );
}

.commentary-link:active{
	transform: scale( 0.9 );
}
