@import '../../../styles/variables';


body{
	width: 100vw; // TODO: fix vh/vw measurements in app
	height: 100vh;

	font-family: $sans;

}

.body-wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.parent-site-header{
	background-color: yellow;
	flex: 0 0 3em;
	width: 100%;
}

.parent-site-footer{
	flex: 0 0 3em;
	width: 100%;
}

.app{
	flex: 1 1 80%;
	width: 100%;
	overflow: hidden;
}
