
// fonts
// ----------
$sans: 				'Source Sans Pro', sans-serif;
$serif:				 Garamond, serif;

// colors
// ----------
$col-bg:			#F6F6F0;
$col-bg-alt:		#ECDCB0;
$col-highlight:		#FFCAB1;
$col-dark:			#000100;

$col-about-accent: 		#C1D7AE;
$col-music-accent:  	#FFF;
$col-websites-accent:	#FFF;
$col-projects-accent: 	#FFF;	

$grey-base:			#000;
$light-grey: 		lighten($grey-base, 75%);
$lighter-grey: 		lighten($grey-base, 85%);