
// fonts
// ----------
$sans: 				'Source Sans Pro', sans-serif;
$serif:				 Garamond, serif;

// colors
// ----------
$col-bg:			#F6F6F0;
$col-bg-alt:		#ECDCB0;
$col-highlight:		#FFCAB1;
$col-dark:			#000100;

$col-about-accent: 			darken(#C1D7AE, 9%);
$col-about-accent-light: 	#C1D7AE;
$col-music-accent:  		#DC4747;
$col-music-accent-light:  	lighten($col-music-accent, 5%);
$col-websites-accent:		#FFF;
$col-websites-accent-light: lighten($col-websites-accent, 5%);
$col-projects-accent: 		#FFF;
$col-projects-accent-light: lighten($col-projects-accent, 5%);	

$grey-base:			#000;
$light-grey: 		lighten($grey-base, 75%);
$lighter-grey: 		lighten($grey-base, 85%);
$lightest-grey: 	lighten($grey-base, 97%);