
// fonts
// ----------
$sans: 				'Source Sans Pro', sans-serif;
$serif:				 Garamond, serif;

// colors
// ----------
$col-bg:			#F6F6F0;
$col-bg-alt:		#ECDCB0;
$col-highlight:		#FFCAB1;
$col-dark:			#000100;
$col-accent: 		#C1D7AE;		
