@import 'variables';
html{
	width:100%;
	height: 100%;
}
// remove styling from link elements
a {
	text-decoration: none;
	color: inherit;
}
// remove styling from buttons
button{
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	font-size:100%;
	vertical-align: baseline;
}

body{
	margin: 0;
	width: 100%;
	height:100%;
	overflow: hidden;

	background: $col-bg;
	background: linear-gradient($col-bg 50%, lighten($col-highlight,7%));

	font-size: 100%;
	font-family: $sans;

}

.body-wrapper{
	// mobile browsers ignore
	// overflow tags on html and body
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
}


.center-container{


	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex-direction: column;

	transform: translateY(-10%);
}




//----------
#centerpiece{
	visibility: visible;
	opacity: 1;

	font-weight: 400;
	font-size: 110%;
	position: relative;
	width: 100%;
	max-height: 5%;
	margin-bottom:1.5em;

	-webkit-transition: visibility 0s linear 0s, opacity 0.25s 0.5s linear;
	transition: visibility 0s  linear 0s, opacity 0.25s 0.5s linear;

	// child flex properties
	flex-shrink: 0;
	flex-grow: 0;

	// parent flex properties
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

}
#centerpiece.collapsed{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
	transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

// image
.headshot {
	width: 9.5em;
}

#name{
	margin: 10px 0 0 0;
	font-size: 190%;
	font-weight: 300;
}

#title{
	font-size: 110%;
	line-height: 90%;
	font-weight: 300;
	margin-bottom: 5px;
}

#contact{
	text-align: center;
	font-size:90%;
	font-weight: 400;
}
#contact > a:hover{
	color: darken($col-highlight,20%);
}

// ---------



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


// ---------
#toybox{
	width: 100%;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	z-index: 1;

	-webkit-transition: transform 1.5s 0.1s ease;
			transition: transform 1.5s 0.1s ease;
}
#toybox.left{
	transform: translateX(-33.333%);
}
#toybox.right{
	transform: translateX(33.333%);
}
#toybox.bottom{
	transform: translateY(100%);
}
#toybox.top{
	transform: translateY(-100%);
}

.toy{
	outline-style: none;
	margin: 10px 2%;	
	text-align: center;
}

.toy-icon{

	width: 9em;

	pointer-events: none;
	position: relative;
	margin-bottom: 1em;
	box-shadow: 1px 7px 5px -4px grey;
	border: 1px solid grey;
	border-radius: 3px;
}

.toy-link{
	font-size: 120%;
	display: block;
	position: relative;
}
// ----------

// ----------



.box{
	position: absolute;
	overflow: auto;

	// TODO: shim for ie8 and below with filter
	background-color: rgba(213, 213, 213, 0.10);

	text-align: center;

	-webkit-transition: transform 1.5s 0.1s ease;
	transition: transform 1.5s 0.1s ease;

}

.box-text{
	position: relative;
}


#about-box{
	left:-50%;
	top: 0%;
	width: 50%;
	height:100%;

}
#about-box.active{
	transform: translateX(100%);
}

.bubble{
	border: 1px solid $light-grey;
	border-radius: 5px;
	//float: right;
	margin: 0 1%;
	width: 60%;
}
.bubble-left{
	float: right;
}


#music-box{
	bottom: -50%;

	width: 100%;
	height: 50%;

	//border-top: 1px solid $light-grey;
}
#music-box.active{
	
	transform: translateY(-100%);
}

#websites-box{
	top: -50%;

	width: 100%;
	height: 50%;

	//border-bottom: 1px solid $light-grey;
}
#websites-box.active{
	// slight adjustment to accomodate for
	// slightly up-shifted icons
	transform: translateY(95%);
}

#projects-box{
	right: -50%;
	top: 0%;

	width: 50%;
	height: 100%;

	//border-left: 1px solid $light-grey;
}
#projects-box.active{
	transform: translateX(-100%);
}




// breakpoint below tablet
// 1px below iPad
@media(max-width: 767px){

	// shrink icons and sort
	// them into a square.
	#toybox{
		flex-wrap: wrap;

	
	}
	.toy{
		margin-right: 2em;
		margin-left: 2em;
	}
	.toy-icon{
		width: 5.5em;
	}
	#about{
		order: 1;
	}
	#music{
		order: 3;
	}
	#websites{
		order: 2;
	}
	#projects{
		order: 4;
	}

	// stack icons when they move.
	#tobyox.stack{
	}
	#toybox.left{
		transform: translateX(-55%);
	}
	#toybox.right{
		transform: translateX(55%);
	}
	#toybox.bottom{
		transform: translateY(50%);
	}
	#toybox.top{
		transform: translateY(-50%);
	}


	// -------------
	.bubble{
		width: 90%;
	}
	#about-box{
		left:-100%;
		width: 75%;
	}
	#about-box.active{
		transform: translateX(125%);
	}
	#projects-box{
		right: -100%;
		width: 75%;
	}
	#projects-box.active{
		transform: translateX(-125%);
	}
	
	#music-box.active{

	}
	
	#websites-box.active{

	}
	

	// ------------

	// adjust text size and spacing
	#centerpiece{
		font-size: 90%;
	}

	#contact > a{
		margin: 0 1.5%;
	}

}
// breakpoint for smaller phone screens
// 1px above iPhone 5
@media(max-width: 321px){
	.toy{
		margin-left: 1.3em;
		margin-right: 1.3em;
	}
	.toy-link{
		font-size: 90%;
	}
}