@import 'variables';
html{
	width:100%;
	height: 100%;
}
// remove styling from link tags
a {
	text-decoration: none;
	color: inherit;
}

body{
	margin: 0;
	width:100%;
	height:100%;

	background: $col-bg;
	background: linear-gradient($col-bg 40%, lighten($col-highlight,10%));

	font-size: 100%;
	font-family: $sans;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.centerpiece{
	font-weight: 400;
	font-size: 110%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;

	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
// image
.headshot {
	width: 9.5em;
}

.and-his-name-is{
	margin: 10px 0 0 0;
	font-size: 175%;
	font-weight: 300;
}

.contact{
	font-size:85%;
	font-weight: 400;
}
a.contact:hover{
	color: darken($col-highlight,20%);
}

.title{
	font-size: 90%;
	line-height: 90%;
	font-weight: 300;

	margin-bottom: 5px;
}

.toybox{
	width: 100%;
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.toy{
	margin: 10px 3.5%;	
	text-align: center;
}

.toy-icon{
	position: relative;
	width: 14em;
	padding-bottom: 1em;
}

.toy-link{
	display: block;
	position: relative;
}
