@import 'variables';

html{
	width:100%;
	height: 100%;

	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}
// remove styling from link elements
a {
	text-decoration: none;
	color: inherit;
}
// remove styling from buttons
button{
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	font-size:100%;
	vertical-align: baseline;
}

a:focus, .button:focus{
	text-decoration: underline;				
}


.button{
	font-family: $sans;
	outline: none;
	display: block;
	padding: 2%;

	border-radius: 5px;

	color: $lightest-grey;
	width: 10em;
	margin: 5% auto;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}



body{
	margin: 0;
	width: 100%;
	height:100%;
	//overflow: hidden;

	background: $col-bg;
	background: linear-gradient($col-bg 50%, lighten($col-highlight,7%));

	font-size: 100%;
	font-family: $sans;

	-webkit-text-size-adjust: 100%;
}

#body-wrapper{
	// mobile browsers ignore
	// overflow tags on html and body
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
}


.heading{
	display: block;
	margin: 0 auto;
	font-size: 190%;
	font-weight: 300;
}

.subheading{
	display: block;
	font-size: 110%;
	line-height: 90%;
	font-weight: 300;
}


#center-container{
	width: 100%;
	height: 100%;

	// parent flex properties
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	flex-direction: column;

	transform: translateY(-10%);
}




//----------
#centerpiece{
	visibility: visible;
	opacity: 1;

	font-weight: 400;
	font-size: 110%;
	position: relative;
	width: auto;
	max-height: 5%;
	margin-bottom:1.5em;

	transition: visibility 0s 0s linear , opacity 0.25s 0.5s linear;

	// child flex properties
	flex-shrink: 0;
	flex-grow: 0;

	// parent flex properties
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

}
#centerpiece.collapsed{
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s linear 0.5s, 
				opacity 0.5s linear;
}


#name{
	margin: 10px 0 0 0;
}

#title{
	margin-bottom: 5px;
}

#contact-info{
	text-align: center;
	font-size:90%;
	font-weight: 400;
}
.link{
	cursor: pointer;
	font-weight: 400;
}
.link:hover{
	color: darken($col-highlight,20%);
}

// ---------


#contact-box{


	opacity: 1;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translateY(-50%);
	width: 100%;
	height: auto;
	background: none;

	transition: opacity 0.25s linear,
				visibility 0s 0s linear;


}

#contact-box.hidden{
	opacity: 0;
	visibility: hidden;
	//display: none;

	transition: opacity 0.25s linear,
				visibility 0s 0.25s linear;
}

#contact-form{
	height: 100%;
	width: 100%;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	background: none;
	font-family: $sans;
	font-size: 100%;
	font-weight: 400;
}
.contact-form-message{
	font-size: 100%;

	background-color: $lightest-grey;
	height: 10em;

	flex: 0 1 25em;
	align-self: center;

	font-family: inherit;
	font-weight: inherit;

	resize: none;

	padding: 0.2em;
	border-radius: 3px;
	border: 1px solid $light-grey;

}
.contact-left-wrapper{
	box-sizing: content-box;
	margin-left: 0.5em;
	margin-right: 0.5em;
	height: auto;
	align-self: center;

}

.contact-form-name, .contact-form-email{
	font-size: 100%;
	background-color: $lightest-grey;
	//float: left;
	display: block;
	width: 15em;

	font-family: inherit;
	font-weight: inherit;
	flex: 0 0 2em;

	margin: 0.5em auto 0;
	padding: 0.2em;
	border-radius: 3px;
	border: 1px solid $light-grey;
}
.contact-submit-button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	width: 12em;

	border: 1px solid $light-grey;
	background-color: $col-about-accent;
	display: block;
	margin: 1em auto;
	padding: 1em 0;
	font-size: 100%;
}
.contact-submit-button:hover{
	background-color: $col-about-accent-light;
}
.contact-submit-button:active{
	background: darken($col-about-accent, 5%);
}
.contact-cancel-button{
	margin: 1em auto;
	padding: 1em;
	height: auto;
	width: 12em; 
	border: 3px solid $light-grey;
	color: $light-grey;
	font-weight: 400;

}
.contact-cancel-button:hover{
	background-color: $light-grey;
	color: $lightest-grey;
}
.contact-cancel-button:active{
	background: $grey;
	border-color: $grey;
}



// ---------
#icons-wrapper{

	width: 100%;
	position: relative;
	left: 0;
}
#icons{
	width: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

	opacity: 1;
	visibility: visible;
	will-change: transform;

	transition: transform 1.5s 0.1s ease,
				opacity 0.5s linear,
				visibility 0s 0.25s linear;
}
#icons.left{
	transform: translateX(-40%);
}
#icons.right{
	transform: translateX(40%);
}
#icons.down{
	transform: translateY(100%);
}
#icons.up{
	transform: translateY(-100%);
}
#icons.hidden{
	transform: translateY(100%);
	opacity: 0;
	visibility: hidden;

	transition: transform 1.5s 0.1s ease,
				opacity 0.25s linear,
				visibility 0s 0.25s linear;
}
.toy{
	outline-style: none;
	margin: 10px 2%;	
	text-align: center;
}

.toy:focus, .toy:hover{
	text-decoration: underline;
}

.toy:active > .toy-icon{
	box-shadow: none;
	border: 1px inset $light-grey;
}

.toy-icon{
	width: 9em;
	pointer-events: none;
	position: relative;
	margin-bottom: 1em;
	box-shadow: 1px 7px 5px -4px grey;
	//border: 1px solid grey;
	border-radius: 3px;
}

.toy-link{
	font-size: 120%;
	display: block;
	position: relative;
}
// ----------

// ----------



.box{
	position: absolute;
	overflow: visible;
	visibility: hidden;

	background-color: rgba(213, 213, 213, 0.10);
	text-align: center;

	will-change: transform;
	transition: transform 1.5s 0.1s ease,
				visibility 0s 1.6s linear;

	tabindex: -1;
}
.box > a, .box > .button {
	tabindex: inherit;
}
.box.active{
	tabindex: 0;
	visibility: visible;
	transition: transform 1.5s 0.1s ease,
				visibility 0s linear;
}
.box-inner-wrapper{


	width: 100%;
	height: 100%;

	position: relative;

	overflow: auto;
	-webkit-overflow-scrolling: touch;
}



.pull-tab{
	// on non-mobile: hide pull-tabs
	display: none;
	position: absolute;
	z-index: 1;
	overflow: visible;
	
	background: white;
	opacity: 0.5;
	border-radius: 12px;
}
.pull-tab:after{
	//content: img('pull-tab-handle.svg');
	position: relative;
	background-color: white;
	opacity: 1;
	//border: 1px solid $light-grey;
	border-radius: 5px;
}
#about-box-pull-tab, #projects-box-pull-tab{
	top: 0;
	height: 100%;
	width: 1.25em;
}
#about-box-pull-tab:after, #projects-box-pull-tab:after{
	content: '<';
	width: 4em;
	top: 50%;
	transform: translateY(-50%);
	padding: 1.5em 0.5em;
	border-right: 1px solid $light-grey;
	border-radius: 25%;
}
#about-box-pull-tab{
	right: 0;
}
#projects-box-pull-tab{
	transform: rotate(180deg);
	left: 0;
}
#music-box-pull-tab, #websites-box-pull-tab{
	width: 100%;
	height: 1.25em;
	border-bottom: 1px solid $light-grey;
}
#music-box-pull-tab:after, #websites-box-pull-tab:after{
	content: 'V';
	height: 4em;
	padding: 0.5em 1.5em;
	border-bottom: 1px solid $light-grey;
	border-radius: 25%;
}
#music-box-pull-tab{
	top: 0;
}
#websites-box-pull-tab{
	transform: rotate(180deg);
	bottom: 0;
}

.bubble{
	display: inline-block;
	//width: 60%;
	font-weight: 300;
}

// about window
#about-box{
	position: absolute;

	left:-50%;
	top: 0;
	bottom: 0;
	width: 50%;
	height:100%;

}
.about-box-inner-wrapper{

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;

	// flex properties for children to inherit
	flex: 1 0 auto;

}

#about-box.active{
	transform: translateX(100%);
}



.about-image-wrapper{
	flex: 0.5 0 auto;
	margin-top: 1.5em;
	width: auto;
	height: auto;
	box-sizing: content-box;
}
.about-headshot {

	border: 10px solid $col-about-accent-light;
	border-radius: 50%;

}
.about-box-heading{
	flex: 0.25 0 auto;
	display: block;
}

.about-text-bubble{
	flex: 1 0 auto;
	display: block;
	width: 30em;
	margin: auto;
	padding-bottom: 0.5em;
	border-bottom: 1px solid $light-grey;
}

.about-skills-heading{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	flex: 1 0 auto;
	display: block;
	font-size: 140%;
}
.about-skills-bubble{

	width: 90%;
	position: relative;

	// child flex properties
	flex: 1 0 auto;
}

.about-skills-bubble-flex-wrapper{
	width: 100%;
	height: 100%;

	// parent flex properties
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
#svg-container{
	z-index: -1;
	pointer-events: none;
}
#about-skills-svg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}
.about-skills-line{
	stroke: $lighter-grey;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}
.about-skills-line.highlight{
	stroke: $grey;
}


.about-column{
	align-self: center;
}
.circle-top{
	transform: rotate(-20deg);
}
.circle-top > .about-tech-item{
	transform: rotate(20deg);
}
.circle-bottom{
	transform: rotate(20deg);
}
.circle-bottom > .about-tech-item{
	transform: rotate(-20deg);
}

.about-skills-item, .about-tech-item {
	display: block;
	width: auto;
	border-radius: 5px;
	cursor: default;

}
.about-skills-item{
	background-color: $col-about-accent-light;
	margin: 10px 0;
	padding: 2% 4%;
}
.about-skills-item:hover{

}
.about-tech-item{
	font-size: 85%;
	padding: 1% 2%;
	margin: 5px 0;
	font-weight: 400;
	display: block;
	background-color: $lighter-grey;
}
.about-tech-item.highlight{
	background: $light-grey;
}



.about-experience-button{
	background-color: $col-about-accent;
}
.about-experience-button:focus{
	// replaces button outline
	// with bg color change, maintaining accessibility
	background-color: $col-about-accent-light;
}
.about-experience-button:hover{
	background-color: $col-about-accent-light;
}
.about-experience-button:active{
	background-color: darken($col-about-accent, 5%);
}

.about-contact-wrapper{
	//margin-top: 2%;
}

.about-contact-button{
	color: darken($col-about-accent, 10%);
	margin: 1em auto;
	padding: 1% 2%;
	font-size: 130%;
	font-weight: 400;
	border: 3px solid $col-about-accent;
}
.about-contact-button:hover{
	background-color: $col-about-accent;
	color: $lightest-grey;											
}
.about-contact-button:focus{
	border-color: $col-about-accent-light;
	background-color: $col-about-accent-light;
	color: $lightest-grey;
}
.about-contact-button:active{
	background-color: darken($col-about-accent, 5%);
	border-color: darken($col-about-accent, 5%);
}

// music window
#music-box{
	bottom: -50%;
	width: 100%;
	height: 50%;
}
#music-box.active{
	transform: translateY(-100%);
}

.music-box-inner-wrapper{
	display: flex;
	justify-content: center;
}

.music-heading{
	display: block;
	margin: 2% auto;
}
.music-box-content-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	width: 50em;
}
#music-player-container{
	flex: 1 0 auto;
}
.music-player{
	border: 0;
	width: 275px;
	height: 275px;
	margin: 0 auto;
}
.music-text-buttons-container{
	padding: 0 1em;
	align-self: center;
	flex: 1 1 50%;
	display: inline-block;
}
.music-text{
	font-weight: 300;
}
.music-buttons-wrapper{
	margin: 0 auto;
}
.music-link-button{
	width: 15em;
	background-color: $col-music-accent;
	margin: 5% auto;
	font-weight: 300;
}
.music-link-button:focus, .music-link-button:hover{
	background-color: $col-music-accent-light;
}



#websites-box{
	top: -50%;
	width: 100%;
	height: 50%;
}
#websites-box.active{
	// slight adjustment to accomodate for
	// slightly up-shifted icons
	transform: translateY(95%);
}
.websites-box-innner-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.websites-contact-button{
	color: darken($col-websites-accent, 10%);
	min-width: 12em;
	max-width: auto;
	border: 3px solid $col-websites-accent;
	padding: 0.5em;
	font-size: 130%;
	font-weight: 400;
	margin: 1emgu auto;
}
.websites-contact-button:hover{
	background-color: $col-websites-accent;
	color: $lightest-grey;
}
.websites-contact-button:active{
	background-color: darken($col-websites-accent, 5%);
	border-color: darken($col-websites-accent, 5%);
}



#projects-box{
	right: -50%;
	top: 0%;
	width: 50%;
	height: 100%;

}
#projects-box.active{
	transform: translateX(-100%);
}

.projects-box-inner-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

.projects-heading{
	margin: 1% 2%;
	font-weight: 400;
	text-align: left;
	width: 95%;
	border-bottom: 3px solid $col-projects-accent;
}
.projects-subheading{
	font-weight: 300;
	font-size: 120%;
	display: block;
	text-align: left;
	margin-left: 5%;
	width: 95%;
	clear: both;
	float: left;
}

.projects-wrapper{
	flex: 1 0 auto;

	border: 1px solid $light-grey;
	border-radius: 12px;

	margin-top: 2%;
	margin-left: 1.5em;
}
.projects-bubble{
}
.projects-thumbnail{
	display: inline-block;
	position: relative;
	float: left;
	margin: 2% 2% 0;
	padding: 1%;
	border: 1px solid $lighter-grey;
	border-radius: 12px;
}
.event-manager-thumbnail{
	float: left;
}
.acrobat-mailmerge-thumbnail{
	float: right;
}

.projects-text{
	font-weight: 300;
	text-align: left;
	margin: 5% 2% 2%;
}
.projects-text-aside{
	display: block;
	margin: 0.5em auto;
	font-size: 90%;
	font-weight: 400;
}
.projects-text-list > li{
	list-style-image: url(../images/bullet.svg);
}

.projects-github-link{
	font-weight: 400;
	display: inline-block;
	margin: 2%;
	width: 12em;
	font-size: 120%;
	background-color: $col-projects-accent;
	color: $lightest-grey;
	float: left;
}
.projects-github-link:focus, .projects-github-link:hover{
	background-color: lighten($col-projects-accent, 5%);
}
.projects-github-link:active{
	background-color: darken($col-projects-accent, 5%);		
}




// BREAKPOINTS
// ======================

// breakpoint at which two-column
// about box layout stops working
@media(max-width: 1100px){
	.about-experience-skills-wrapper{
		// child flex properties

		// parent flex properties
		align-items: center;
	}
	.about-text-bubble{
		width: 90%;
	}
	.about-skills-bubble{
		width: 100%;
	}
	.about-skills-item{
		font-size: 90%;
		width: 80%;
		padding-top: 7px;
		padding-bottom: 7px;
		margin-bottom: 5%;
	}
	#about-tech-column > .circle-top, 
	#about-tech-column > .circle-bottom,
	.circle-bottom > .about-tech-item,
	.circle-top > .about-tech-item {
		transform: none;
	}
}
// breakpoint at which contact-box touches
// centerpiece on wide screen
@media(max-height: 850px){
	#centerpiece.contact-active{
		transform: translateY(-75%);
	}
}

// breakpoint at which boxes cover entire screen
@media(max-width: 850px){

	// center icons and centerpiece
	#center-container{
		transform: none;
	}

	.pull-tab{
		display: block;
	}


	// hide centerpiece when contact-box
	// is opened
	#centerpiece.contact-active{
		opacity: 0;
	}



	// shrink icons and sort
	// them into a square.
	#icons{
		transition: transform 1.25s ease,
					opacity 0.5s 0.5s ease,
					visibility 1.25s linear;
		flex-wrap: wrap;
		visibility: visible;
		opacity: 1;
	}
	.toy{
		margin-right: 2em;
		margin-left: 2em;
	}
	.toy-icon{
		width: 5.5em;
		// moves icon under icon button so that
		// touch events work properly on iOS.
		// TODO: hacky
		z-index: -1;
	}
	#about{
		order: 1;
	}
	#music{
		order: 3;
	}
	#websites{
		order: 2;
	}
	#projects{
		order: 4;
	}

	#icons.left{
		transform: translateX(-100%);
	}
	#icons.right{
		transform: translateX(100%);
	}
	#icons.down, #icons.up{
		transition: transform 1.25s ease,
					opacity 0.25s 0.25s ease,
					visibility 0s 1.25s linear;
		visibility: hidden;
		opacity: 0;
	}
	#icons.up{
		transform: translateY(-200%);
	}
	#icons.down{
		transform: translateY(200%);
	}


	// -------------
	.box{
		transition: transform 1.25s ease,
					visibility 0s 1.25s linear;
	}
	#about-box{
		left:-100%;
		width: 100%;		
	}
	.about-box-inner-wrapper{
		-webkit-overflow-scrolling:touch;
		justify-content: flex-start;
	}
	#about-box.active{
		transform: translateX(100%);
	}
	.about-experience-button{
		width: 13em;
		height: 3em;
	}
	.about-text-bubble{
		width: 90%;
	}
	#projects-box{
		right: -100%;
		width: 100%;
	}
	.projects-box-inner-wrapper{
		justify-content: flex-start;
	}
	#projects-box.active{
		transform: translateX(-100%);
	}

	#music-box{
		bottom: -100%;
		height: 100%;
	}
	#music-box.active{
		transform: translateY(-100%);
	}

	#websites-box{
		top: -100%;
		height: 100%;
	}
	#websites-box.active{
		transform: translateY(100%);
	}
	

	// ------------
	// adjust text size and spacing
	#centerpiece{
		font-size: 90%;
	}

	// TODO: adjust this to accomodate js
	#centerpiece.contact-active{
		transition: visibility 0s linear 0.25s, opacity 0.25s linear;
	}

	#contact-info > a{
		margin: 0 1.5%;
	}

}

// breakpoint for smaller phone screens
// 1px above iPhone 5
@media(max-width: 321px){
	.toy{
		margin-left: 1.3em;
		margin-right: 1.3em;
	}
	.toy-link{
		font-size: 90%;
	}
}