html {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #F6F6F0;
  background: linear-gradient(#F6F6F0 40%, #ffede4);
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif; }
  body .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center; }

.centerpiece {
  font-weight: 400;
  font-size: 110%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; }

.headshot {
  width: 9.5em; }

.and-his-name-is {
  margin: 10px 0 0 0;
  font-size: 200%;
  font-weight: 300; }

.title {
  font-size: 110%;
  line-height: 90%;
  font-weight: 300;
  margin-bottom: 5px; }

.contact {
  font-size: 90%;
  font-weight: 400; }

a.contact:hover {
  color: #ff854b; }

.toybox {
  width: 100%;
  margin-top: 3%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.toy {
  outline-style: none;
  margin: 10px 3.5%;
  text-align: center; }

.toy-icon {
  pointer-events: none;
  position: relative;
  width: 12em;
  padding-bottom: 1em; }

.toy-link {
  font-size: 120%;
  display: block;
  position: relative; }

#box-about {
  position: absolute;
  top: 0;
  left: -10%;
  width: 10%; }
