html {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

.button {
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
  display: block;
  padding: 2%;
  border-radius: 5px;
  color: #f7f7f7;
  width: 10em;
  margin: 5% auto; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #F6F6F0;
  background: -webkit-linear-gradient(#F6F6F0 50%, #ffe2d5);
  background: linear-gradient(#F6F6F0 50%, #ffe2d5);
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-text-size-adjust: 100%; }

#body-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; }

.heading {
  display: block;
  margin: 0 auto;
  font-size: 190%;
  font-weight: 300; }

.subheading {
  display: block;
  font-size: 110%;
  line-height: 90%;
  font-weight: 300; }

#center-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-self: center;
          align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%); }

#centerpiece {
  visibility: visible;
  opacity: 1;
  font-weight: 400;
  font-size: 110%;
  position: relative;
  width: 100%;
  max-height: 5%;
  margin-bottom: 1.5em;
  -webkit-transition: visibility 0s  linear 0s, opacity 0.25s 0.5s linear;
  transition: visibility 0s  linear 0s, opacity 0.25s 0.5s linear;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

#centerpiece.collapsed {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear; }

#name {
  margin: 10px 0 0 0; }

#title {
  margin-bottom: 5px; }

#contact-info {
  text-align: center;
  font-size: 90%;
  font-weight: 400; }

.link {
  font-weight: 400; }

.link:hover {
  color: #ff854b; }

#contact-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 20%;
  background: none; }

#contact-box.hidden {
  display: none; }

#contact-form {
  height: 100%;
  margin: 0 auto;
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;
  background: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }

.contact-form-message {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 10em;
  width: 20em;
  font-family: inherit;
  font-weight: inherit;
  resize: none;
  border-radius: 3px;
  border: 1px solid #bfbfbf; }

.contact-form-name, .contact-form-email {
  display: block;
  margin-left: 2em;
  width: 15em;
  font-family: inherit;
  font-weight: inherit;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 2em;
          flex: 0 0 2em;
  border-radius: 3px;
  border: 1px solid #bfbfbf; }

.contact-left-wrapper {
  height: 100%; }

#icons-wrapper {
  width: 100%;
  margin-top: 3%;
  position: absolute; }

#icons {
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  will-change: transform;
  -webkit-transition: -webkit-transform 1.5s 0.1s ease;
  transition: -webkit-transform 1.5s 0.1s ease;
  transition: transform 1.5s 0.1s ease;
  transition: transform 1.5s 0.1s ease, -webkit-transform 1.5s 0.1s ease; }

#icons.left {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%); }

#icons.right {
  -webkit-transform: translateX(40%);
          transform: translateX(40%); }

#icons.down {
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

#icons.up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.toy {
  outline-style: none;
  margin: 10px 2%;
  text-align: center; }

.toy:focus, .toy:hover {
  text-decoration: underline; }

.toy-icon {
  width: 9em;
  pointer-events: none;
  position: relative;
  margin-bottom: 1em;
  border-radius: 3px; }

.toy-link {
  font-size: 120%;
  display: block;
  position: relative; }

.box {
  position: absolute;
  overflow: auto;
  background-color: rgba(213, 213, 213, 0.1);
  text-align: center;
  will-change: transform;
  -webkit-transition: -webkit-transform 1.5s 0.1s ease;
  transition: -webkit-transform 1.5s 0.1s ease;
  transition: transform 1.5s 0.1s ease;
  transition: transform 1.5s 0.1s ease, -webkit-transform 1.5s 0.1s ease; }

.bubble {
  display: inline-block;
  font-weight: 300; }

#about-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  left: -50%;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%; }

#about-box.active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }

.about-image-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 1.5em;
  width: 9.5em;
  height: auto;
  box-sizing: content-box; }

.about-headshot {
  border: 10px solid #a9c88f;
  border-radius: 50%; }

.about-box-heading {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  display: block; }

.about-text-bubble {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  display: block;
  width: 30em;
  margin: 2% auto 10%; }

.about-skills-heading {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  display: block;
  font-size: 140%; }

.about-skills-bubble {
  width: 90%;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto; }

.about-skills-bubble-flex-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
          justify-content: space-around; }

.about-skills-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.about-skills-line {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }

.about-column {
  -webkit-align-self: center;
          align-self: center; }

.circle-top {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg); }

.circle-top > .about-tech-item {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg); }

.circle-bottom {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg); }

.circle-bottom > .about-tech-item {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg); }

.about-skills-item, .about-tech-item {
  display: block;
  width: auto;
  border-radius: 5px; }

.about-skills-item {
  background-color: #C1D7AE;
  margin: 5px 0;
  padding: 2% 4%; }

.about-tech-item {
  font-size: 85%;
  padding: 1% 2%;
  margin: 5px 0;
  font-weight: 400;
  display: block;
  background-color: #d9d9d9; }

.about-experience-bubble {
  display: inline-block;
  margin-top: 2%;
  width: 50%; }

.about-experience-buttons-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

.about-experience-button {
  background-color: #a9c88f; }

.about-experience-button:focus {
  background-color: #C1D7AE; }

.about-experience-button:hover {
  background-color: #C1D7AE; }

.about-contact-wrapper {
  margin-top: 2%; }

.about-contact-button {
  color: #8fb76d;
  margin: 7% auto;
  padding: 1% 2%;
  font-size: 130%;
  font-weight: 400;
  border: 3px solid #a9c88f; }

.about-contact-button:hover {
  background-color: #a9c88f;
  color: #f7f7f7; }

.about-contact-button:focus {
  border-color: #C1D7AE;
  background-color: #C1D7AE;
  color: #f7f7f7; }

#music-box {
  bottom: -50%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

#music-box.active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.music-heading {
  display: block;
  margin: 2% auto; }

.music-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 50%; }

#music-player-container {
  width: auto;
  background: url("images/loading.gif"); }

.music-player {
  border: 0;
  width: 275px;
  height: 275px;
  margin: 0 auto; }

.music-text-buttons-container {
  -webkit-align-self: center;
          align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
          flex: 0 1 50%;
  display: inline-block; }

.music-text {
  font-weight: 300; }

.music-link-button {
  width: 15em;
  background-color: #DC4747;
  margin: 5% auto;
  font-weight: 300; }

.music-link-button:focus, .music-link-button:hover {
  background-color: #e05c5c; }

#websites-box {
  top: -50%;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

#websites-box.active {
  -webkit-transform: translateY(95%);
          transform: translateY(95%); }

.websites-contact-button {
  color: #f46134;
  border: 3px solid #F78764;
  padding: 1% 2%;
  font-size: 130%;
  font-weight: 400;
  margin: 2% auto; }

.websites-contact-button:hover {
  background-color: #F78764;
  color: #f7f7f7; }

#projects-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  right: -50%;
  top: 0%;
  width: 50%;
  height: 100%; }

#projects-box.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }

.projects-heading {
  margin: 1% 2%;
  font-weight: 400;
  text-align: left;
  width: 95%;
  border-bottom: 3px solid #208AAE; }

.projects-subheading {
  font-weight: 300;
  font-size: 120%;
  display: block;
  text-align: left;
  margin-left: 5%;
  width: 95%;
  clear: both;
  float: left; }

.projects-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  border: 1px solid #bfbfbf;
  border-radius: 12px;
  margin: 2% 2% 1%; }

.projects-thumbnail {
  display: inline-block;
  position: relative;
  float: left;
  margin: 2% 2% 0; }

.event-manager-thumbnail {
  float: left; }

.acrobat-mailmerge-thumbnail {
  float: right; }

.projects-text {
  font-weight: 300;
  text-align: left;
  margin: 5% 2% 2%; }

.projects-github-link {
  font-weight: 400;
  display: inline-block;
  margin: 2%;
  width: 12em;
  font-size: 120%;
  background-color: #208AAE;
  color: #f7f7f7;
  float: left; }

.projects-github-link:hover {
  background-color: #1c7998; }

@media (max-width: 700px) {
  #icons {
    -webkit-transition: opacity 0.5s 0.5s ease, visibility 1.25s linear, -webkit-transform 1.25s ease;
    transition: opacity 0.5s 0.5s ease, visibility 1.25s linear, -webkit-transform 1.25s ease;
    transition: transform 1.25s ease, opacity 0.5s 0.5s ease, visibility 1.25s linear;
    transition: transform 1.25s ease, opacity 0.5s 0.5s ease, visibility 1.25s linear, -webkit-transform 1.25s ease;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    visibility: visible;
    opacity: 1; }
  .toy {
    margin-right: 2em;
    margin-left: 2em; }
  .toy-icon {
    width: 5.5em; }
  #about {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
            order: 1; }
  #music {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
            order: 3; }
  #websites {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
            order: 2; }
  #projects {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
            order: 4; }
  #icons.left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  #icons.right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  #icons.down, #icons.up {
    -webkit-transition: opacity 0.25s 0.25s ease, visibility 0s 1.25s linear, -webkit-transform 1.25s ease;
    transition: opacity 0.25s 0.25s ease, visibility 0s 1.25s linear, -webkit-transform 1.25s ease;
    transition: transform 1.25s ease, opacity 0.25s 0.25s ease, visibility 0s 1.25s linear;
    transition: transform 1.25s ease, opacity 0.25s 0.25s ease, visibility 0s 1.25s linear, -webkit-transform 1.25s ease;
    visibility: hidden;
    opacity: 0; }
  #icons.up {
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%); }
  #icons.down {
    -webkit-transform: translateY(200%);
            transform: translateY(200%); }
  .box {
    -webkit-transition: -webkit-transform 1.25s ease;
    transition: -webkit-transform 1.25s ease;
    transition: transform 1.25s ease;
    transition: transform 1.25s ease, -webkit-transform 1.25s ease; }
  .button {
    margin-top: 7%;
    margin-bottom: 7%; }
  #about-box {
    left: -100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start; }
  #about-box.active {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  .about-experience-button {
    width: 13em;
    height: 3em; }
  .about-text-bubble {
    width: 90%; }
  #projects-box {
    right: -100%;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start; }
  #projects-box.active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  #music-box {
    bottom: -100%;
    height: 100%; }
  #music-box.active {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  #websites-box {
    top: -100%;
    height: 100%; }
  #websites-box.active {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  #centerpiece {
    font-size: 90%; }
  #centerpiece.collapsed {
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear; }
  #contact-info > a {
    margin: 0 1.5%; }
  .about-experience-skills-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .about-skills-bubble {
    width: 100%; }
  .about-skills-item {
    font-size: 90%;
    width: 80%;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 5%; }
  #about-tech-column > .circle-top,
  #about-tech-column > .circle-bottom,
  .circle-bottom > .about-tech-item,
  .circle-top > .about-tech-item {
    -webkit-transform: none;
            transform: none; } }

@media (max-width: 321px) {
  .toy {
    margin-left: 1.3em;
    margin-right: 1.3em; }
  .toy-link {
    font-size: 90%; } }
