html {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #F6F6F0;
  background: linear-gradient(#F6F6F0 50%, #ffe2d5);
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif; }

.center-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  transform: translateY(-10%); }

.centerpiece {
  font-weight: 400;
  font-size: 110%;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 2%;
  padding-bottom: 2%; }

.headshot {
  width: 9.5em; }

.and-his-name-is {
  margin: 10px 0 0 0;
  font-size: 200%;
  font-weight: 300; }

.title {
  font-size: 110%;
  line-height: 90%;
  font-weight: 300;
  margin-bottom: 5px; }

.contact {
  font-size: 90%;
  font-weight: 400; }

a.contact:hover {
  color: #ff854b; }

.toybox {
  width: 100%;
  margin-top: 3%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center; }

.toy {
  outline-style: none;
  margin: 10px 3.5%;
  text-align: center; }

.toy-icon {
  pointer-events: none;
  position: relative;
  width: 12em;
  padding-bottom: 1em; }

.toy-link {
  font-size: 120%;
  display: block;
  position: relative; }

#box-about {
  position: absolute;
  visibility: hidden;
  left: -50%;
  top: 0%;
  width: 15%;
  height: 100%; }

#box-about.active {
  visibility: visible;
  left: 0%; }

.about-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1%; }
