<div class='time-axis-column'>
	<div class='time-axis-column-heading'>
	</div>

	<div #timeAxis class='time-axis-body'>
			<div class='timeslot'  [ngStyle]="{ 'height': timeSlotHeight }" *ngFor='let timeSlot of timeSlotList'> 

			{{ displayClockTimeFromTimeSlot( timeSlot ) }}
		</div>
	</div>
</div>

<div class='resource-columns-wrapper'>

	<div class='column' id='{{resource}}' *ngFor='let resource of resources'>

		
		<div class='column-heading'>
		{{ resource }}
		</div>

		<div class='column-body'>
		
			<div 
					class='column-time-slot' 
					*ngFor='let timeSlot of timeSlotList; let isOdd = odd' 
					[ngClass]="{ 'strong-line': isOdd }" 
					[ngStyle]=" { 'height': timeSlotHeight }"	
			>
			</div>
			

			
			<em-resource-scheduler-item 
				*ngFor='let event of getEventsByResource( resource ) | async'
				[event]='event' 
				[ngStyle]="{ 
					'top': calculateEventPixelsFromTop( event ), 'height': calculateEventHeight( event ) 
				}"
				[ngClass]="{
					'focused': isFocusedEvent( event )
				}"
			>
			</em-resource-scheduler-item>
			

		</div>

	</div>

</div>